In [1]:
%load_ext autoreload
%autoreload 2
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import putilities.utilibs as ul
import putilities.kml as kml
from sqlalchemy import create_engine
import pymysql

In [4]:
connect_string = 'mysql+pymysql://jsembiring:adom!@localhost/db_airport'
db_engine = create_engine(connect_string)
conn = db_engine.connect()
conn = db_engine.connect()
airport = pd.read_sql("select * from tb_airport", conn)
conn.close()

In [5]:
airport.head()

,record_id,airport_icao,airport_iata,country,city,name,area_code,elev_m,lon_deg,lat_deg,timezone,magvar_deg
0,1,AGGH,HIR,Solomon Islands,Honiara,Honiara International,SPA,28.0,160.054794,-9.428000,11.0,9.0
1,2,ANYN,INU,Nauru,Nauru,Nauru Intl,SPA,22.0,166.919006,-0.547458,12.0,9.7
2,3,AYBK,BUA,Papua New Guinea,Buka Island,Buka Airport,SPA,11.0,154.673004,-5.422320,10.0,8.0
3,4,AYDU,DAU,Papua New Guinea,Daru,Daru Airport,SPA,20.0,143.207993,-9.086760,10.0,6.0
4,5,AYGN,GUR,Papua New Guinea,Gurney,Gurney Airport,SPA,88.0,150.334000,-10.311500,10.0,7.7

In [7]:
flights = pd.read_csv("dbase/file_management.csv")
flights.head()

,fname,orig_name,tail_id,fsize_mb,addr,flag
0,flight_10000.parquet,654200109211115,Tail_654_2,2.10,/storage/NASA-par/flight_10000.parquet,True
1,flight_10001.parquet,654200110141815,Tail_654_2,2.40,/storage/NASA-par/flight_10001.parquet,True
2,flight_10002.parquet,654200108211001,Tail_654_2,2.35,/storage/NASA-par/flight_10002.parquet,True
3,flight_10003.parquet,654200107241628,Tail_654_2,1.87,/storage/NASA-par/flight_10003.parquet,True
4,flight_10004.parquet,654200108311351,Tail_654_2,3.07,/storage/NASA-par/flight_10004.parquet,True

In [16]:
ms = pd.read_csv("dbase/measurements.csv")
ms.head()

                  fname     ms100     ms101     ms102     ms103
0  flight_10000.parquet  0.630008 -1.395115  0.736767 -1.454484
1  flight_10001.parquet  0.783373 -1.626521  0.716705 -1.286354
2  flight_10002.parquet  0.681429 -1.477553  0.783481 -1.626856
3  flight_10003.parquet  0.736644 -1.455074  0.724884 -1.634589
4  flight_10004.parquet  0.695876 -1.313247  0.611864 -1.570162

In [13]:
#ms = ms.drop(columns=['Unnamed: 0'])

In [14]:
#ms.to_csv('dbase/measurements.csv', index=False)

In [17]:
ms.head()

                  fname     ms100     ms101     ms102     ms103
0  flight_10000.parquet  0.630008 -1.395115  0.736767 -1.454484
1  flight_10001.parquet  0.783373 -1.626521  0.716705 -1.286354
2  flight_10002.parquet  0.681429 -1.477553  0.783481 -1.626856
3  flight_10003.parquet  0.736644 -1.455074  0.724884 -1.634589
4  flight_10004.parquet  0.695876 -1.313247  0.611864 -1.570162

In [18]:
airport = airport[['airport_icao', 'lat_deg', 'lon_deg']]
airport.head()

  airport_icao    lat_deg     lon_deg
0         AGGH  -9.428000  160.054794
1         ANYN  -0.547458  166.919006
2         AYBK  -5.422320  154.673004
3         AYDU  -9.086760  143.207993
4         AYGN -10.311500  150.334000

In [20]:
airport['airport_icao'].isnull().values.any()

False

In [21]:
airport['lat_deg'].isnull().values.any()

True

In [22]:
len(airport)

6734

In [29]:
airport['lat_deg'].isnull().sum()

19

In [30]:
airport['lon_deg'].isnull().sum()

0

In [31]:
airport['airport_icao'][df['lat_deg'].isnull()]

634     ENBR
639     ENEV
647     ENKB
648     ENKR
651     ENMS
657     ENOV
658     ENRA
659     ENRM
662     ENRY
663     ENSB
664     ENSD
671     ENSS
672     ENST
674     ENTO
675     ENVA
677     ENZV
1096    KBTR
3611    WAPP
3775    YMPC
Name: airport_icao, dtype: object

In [32]:
"""
       lat_deg    lon_deg
ENBR = 60.293611,  5.218056
ENEV = 68.488889, 16.678333
ENKB = 63.111944,  7.826111
ENKR = 69.725,    29.887778
ENMS = 65.783997, 13.214914
ENOV = 62.178611,  6.075833
"""

'\n       lat_deg    lon_deg\nENBR = 60.293611,  5.218056\nENEV = 68.488889, 16.678333\nENKB = 63.111944,  7.826111\nENKR = 69.725,    29.887778\nENMS = 65.783997, 13.214914\nENOV = 62.178611,  6.075833\n'

## Train the Model

In [34]:
import math
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)

In [36]:
ms = ms.dropna()

In [37]:
airports = pd.read_csv('dbase/airports.csv')
airport = airport.dropna()

In [38]:
knn.fit(airport[['lat_deg', 'lon_deg']] * math.radians(1) , airport.airport_icao)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

## Predict Departure Airport

In [39]:
dep_aprt = knn.predict(ms.iloc[:, 1:3])
dep_aprt

array(['KGSO', 'KMSP', 'KCVG', ..., 'KDTW', 'KBGR', 'KMSP'], dtype=object)

## Predict Arrival Airport

In [40]:
arr_aprt = knn.predict(ms.iloc[:, 3:5])
arr_aprt

array(['KDTW', 'KHPN', 'KMSP', ..., 'KDAY', 'KDTW', 'KHPN'], dtype=object)

In [41]:
flights['dep_aprt'] = ''

In [42]:
flights.head()

,fname,orig_name,tail_id,fsize_mb,addr,flag,dep_aprt
0,flight_10000.parquet,654200109211115,Tail_654_2,2.10,/storage/NASA-par/flight_10000.parquet,True,
1,flight_10001.parquet,654200110141815,Tail_654_2,2.40,/storage/NASA-par/flight_10001.parquet,True,
2,flight_10002.parquet,654200108211001,Tail_654_2,2.35,/storage/NASA-par/flight_10002.parquet,True,
3,flight_10003.parquet,654200107241628,Tail_654_2,1.87,/storage/NASA-par/flight_10003.parquet,True,
4,flight_10004.parquet,654200108311351,Tail_654_2,3.07,/storage/NASA-par/flight_10004.parquet,True,

In [ ]:
flights.dep_aprt.loc[flights.flag == True] = dep_aprt

In [44]:
flights.head()

,fname,orig_name,tail_id,fsize_mb,addr,flag,dep_aprt
0,flight_10000.parquet,654200109211115,Tail_654_2,2.10,/storage/NASA-par/flight_10000.parquet,True,KGSO
1,flight_10001.parquet,654200110141815,Tail_654_2,2.40,/storage/NASA-par/flight_10001.parquet,True,KMSP
2,flight_10002.parquet,654200108211001,Tail_654_2,2.35,/storage/NASA-par/flight_10002.parquet,True,KCVG
3,flight_10003.parquet,654200107241628,Tail_654_2,1.87,/storage/NASA-par/flight_10003.parquet,True,KDTW
4,flight_10004.parquet,654200108311351,Tail_654_2,3.07,/storage/NASA-par/flight_10004.parquet,True,KPHL

In [46]:
flights['arr_aprt'] = ''
flights.head()

,fname,orig_name,tail_id,fsize_mb,addr,flag,dep_aprt,arr_aprt
0,flight_10000.parquet,654200109211115,Tail_654_2,2.10,/storage/NASA-par/flight_10000.parquet,True,KGSO,
1,flight_10001.parquet,654200110141815,Tail_654_2,2.40,/storage/NASA-par/flight_10001.parquet,True,KMSP,
2,flight_10002.parquet,654200108211001,Tail_654_2,2.35,/storage/NASA-par/flight_10002.parquet,True,KCVG,
3,flight_10003.parquet,654200107241628,Tail_654_2,1.87,/storage/NASA-par/flight_10003.parquet,True,KDTW,
4,flight_10004.parquet,654200108311351,Tail_654_2,3.07,/storage/NASA-par/flight_10004.parquet,True,KPHL,

In [ ]:
flights.arr_aprt.loc[flights.flag == True] = arr_aprt

In [48]:
flights = flights[['fname', 'orig_name', 'tail_id', 'dep_aprt', 'arr_aprt', 'fsize_mb', 'flag', 'addr']]

In [49]:
flights.to_csv('dbase/flights.csv', index=False)

In [50]:
df = pd.read_parquet(flights.addr[0])
df.head()

,time_s,airbrk_pos_rad,ail_l_rad,ail_r_rad,hbaro_m,hdot_1_mps,aoa_1_rad,aoa_2_rad,aoac_rad,aoai_rad,...,tas_mps,temp_total_degC,psi_rad,psi_mag_selected,chi_rad,chi_mag_rad,az_mps2,wdir_rad,wow,ws_mps
0,0.0000,1.047198,0.731293,0.731293,213.0552,-0.16256,-0.128087,-0.060592,0.0,-0.094339,...,0.0,7.0,0.919690,1.0,0.424996,0.539945,-33.097444,0.0,0.0,0.0
1,0.0625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.1250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-33.097444,NaN,NaN,NaN
3,0.1875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.2500,NaN,NaN,NaN,213.0552,-0.32512,-0.128087,-0.060592,0.0,-0.094339,...,0.0,NaN,0.919594,NaN,0.426051,0.541000,-33.097444,0.0,NaN,0.0

In [51]:
kml.create_kml(df.lat_rad.to_numpy(), df.lon_rad.to_numpy(), df.hbaro_m.to_numpy(), 'rad', 'test.kml')

In [52]:
flights.head()

,fname,orig_name,tail_id,dep_aprt,arr_aprt,fsize_mb,flag,addr
0,flight_10000.parquet,654200109211115,Tail_654_2,KGSO,KDTW,2.10,True,/storage/NASA-par/flight_10000.parquet
1,flight_10001.parquet,654200110141815,Tail_654_2,KMSP,KHPN,2.40,True,/storage/NASA-par/flight_10001.parquet
2,flight_10002.parquet,654200108211001,Tail_654_2,KCVG,KMSP,2.35,True,/storage/NASA-par/flight_10002.parquet
3,flight_10003.parquet,654200107241628,Tail_654_2,KDTW,KDSM,1.87,True,/storage/NASA-par/flight_10003.parquet
4,flight_10004.parquet,654200108311351,Tail_654_2,KPHL,KMEM,3.07,True,/storage/NASA-par/flight_10004.parquet